<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alar Gaming</title>

    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" />

    <link rel="stylesheet" href="style.css">
</head>

<body>

    <section id="header">
        <a href="#"><img src="/img/alar.png"  alt=""></a>
        <div>
            <ul id="navbar">
                <li><a class="active" href="~/Home/Index">Home</a></li>
                <li><a href="/Home/shop">Shop</a></li>
                <li><a>Blog</a></li>
                <li><a href="/Home/About">About</a></li>
                <li><a class="active" href="/Home/Contact">Contact</a></li>
                <li id="lg-bag"><a ><i class="far fa-shopping-bag"></i></a></li>
              
            </ul>
        </div>
       
        
    </section>

    <section id="page-header" class="about-header">

        <h2>let's talk</h2>
        <p>LEAVE A MESSAGE, We love to hear from you!</p>

    </section>

    <section id="contact-details" class="section-p1">
        <div class="details">
            <span>GET IN TOUCH</span>
            <h2>Visit one of our agency locations or contact us today</h2>
            <h3>Head Office</h3>
            <div>
                <li>
                    <i class="fal fa-map"></i>
                    <p>Pasror</p>
                </li>
                <li>
                    <i class="far fa-envelope"></i>
                    <p>ziadtariq21@gmail.com</p>
                </li>
                <li>
                    <i class="fas fa-phone-alt"></i>
                    <p>0300-0000000</p>
                </li>
                <li>
                    <i class="far fa-clock"></i>
                    <p>har waqt </p>
                </li>
            </div>
        </div>

        <div class="map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2469.8088025254456!2d-1.256555484681452!3d51.754819700404106!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4876c6a9ef8c485b%3A0xd2ff1883a001afed!2sUniversity%20of%20Oxford!5e0!3m2!1sen!2sbd!4v1637232208485!5m2!1sen!2sbd"
                width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div>
    </section>

    <section id="form-details">
        <form method="post" action="/Records/SavedCustomer">
            <span>LEAVE A MESSAGE</span>
            <h2>We love to hear from you </h2>
            <input type="text" name="name" id="" placeholder="Your Name">
            <input type="text" name="mail" id="" placeholder="E-mail">
            <input type="text" name="subject" id="" placeholder="Subject">
            <textarea name="message" id="" cols="30" rows="10" placeholder="Your Message"></textarea>
            <button type="submit" class="normal">Submit</button>
        </form>

        <div class="people">
            <div>
                <img src="/img/people/pic18.jpeg" alt="">
                <p><span>Simran Qaiser </span> Cleaner <br> Phone: example <br> Email: example</p>
            </div>
            <div>
                <img src="/img/people/pic19.jpeg" alt="">
                <p><span>Zabrair Shahid</span> Marketing Manager <br> Phone: example <br> Email: example</p>
            </div>
            <div>
                <img src="/img/people/pic20.jpeg" alt="">
                <p><span>Shakira Fayyaz</span> receptionist <br> Phone: example <br> Email: example</p>
            </div>
        </div>
    </section>

    <section id="newsletter" class="section-m1 section-p1">
        <div class="newstext">
            <h4>Sign Up For Newsletters </h4>
            <p>Get E-mail updates about our latest shop and <span>special offers.</span></p>
        </div>
        <div class="form">
            <input type="text" name="" placeholder="Your email address" id="">
            <button class="normal">Sign Up</button>
        </div>
    </section>

    <footer class="section-p1">
        <div class="col">
            <img class="logo" src="/img/alar.png" alt="">
            <h4>Contact</h4>
            <p><strong>Address: </strong> Pasror</p>
            <p><strong>Phone:</strong>0305-jidon kron odun band</p>
            <p><strong>Hours:</strong>har waqt</p>
            <div class="follow">
                <h4>Follow Us</h4>
                <div class="icon">
                    <i class="fab fa-facebook-f"></i>
                    <i class="fab fa-twitter"></i>
                    <i class="fab fa-instagram"></i>
                    <i class="fab fa-pinterest-p"></i>
                    <i class="fab fa-youtube"></i>
                </div>
            </div>
        </div>

        <div class="col">
            <h4>About</h4>
            <a href="#">About Us</a>
            <a href="#">Delivery Information</a>
            <a href="#">Privacy Policy</a>
            <a href="#">Terms & Conditions</a>
            <a href="#">Contact Us</a>
        </div>

        <div class="col">
            <h4>My Account</h4>
            <a href="#">Sign In</a>
            <a href="#">View Cart</a>
            <a href="#">My Wishlist</a>
            <a href="#">Track My Order</a>
            <a href="#">Help</a>
        </div>

        <div class="col install">
            <h4>Install App</h4>
            <p>From App Store or Google Play</p>
            <div class="row">
                <img src="/img/pay/app.jpg" alt="">
                <img src="/img/pay/play.jpg" alt="">
            </div>
            <p>Secured Payment Gateways </p>
            <img src="/img/pay/pay.png" alt="">
        </div>

        <div class="copyright">
            <p>© 2022, Web Project</p>
        </div>
    </footer>


    <script src="script.js"></script>
</body>

</html>